In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import requests
import os
from dotenv import load_dotenv, find_dotenv

In [3]:
load_dotenv(find_dotenv())
MARKET_KEY = os.environ.get('MARKET')

# weiter

In [5]:
pd_rest = pd.read_csv('../raw_data/hist_data.csv')

In [6]:
string = ','.join(pd_rest.ticker)

In [7]:
# Data
df = pd.read_csv('../raw_data/stocks.csv', sep=';')
df

    Verwaltung     WKN                       Name Land
0          KSK  EWG2LD                 Euwax-Gold   DE
1          KSK  EWG2LD                 Euwax-Gold   DE
2          KSK  EWG2LD                 Euwax-Gold   DE
3          KSK  A118V8  Pfis ETF-P.LD EO C.B. EOI   IE
4          KSK  A118V8  Pfis ETF-P.LD EO C.B. EOI   IE
..         ...     ...                        ...  ...
464        KSK     NaN                        NaN  NaN
465        KSK     NaN                        NaN  NaN
466        KSK     NaN                        NaN  NaN
467        NaN     NaN                        NaN  NaN
468        NaN     NaN                        NaN  NaN

[469 rows x 4 columns]

In [23]:
BASE = 'http://api.marketstack.com/v1/eod'

params = {
    'access_key': MARKET_KEY,
    'date_from':'2021-08-04',
    'date_to':'2021-08-15',
    'symbols':string,
    'limit':'5000'
}


r = requests.get(BASE, params=params)

In [24]:
df_r = pd.DataFrame(r.json().get('data'))
if df_r.any().any():
    print('ye')

In [25]:
r.json()

{'error': {'code': 'usage_limit_reached',
  'message': 'Your monthly usage limit has been reached. Please upgrade your Subscription Plan.'}}

In [21]:
r.status_code

200

In [30]:
la = pd.read_csv('../raw_data/results-33.csv',
           sep=';')

In [32]:
la

    ticker     WKN   close                       date country
0    LCYFF  A14WU5     NaN                        NaN      US
1     MSFT  870747  286,44  2021-08-10 00:00:00+00:00      US
2     MSFT  870747  288,33  2021-08-09 00:00:00+00:00      US
3     MSFT  870747  289,46  2021-08-06 00:00:00+00:00      US
4     MSFT  870747  289,52  2021-08-05 00:00:00+00:00      US
..     ...     ...     ...                        ...     ...
286   TRMB  882295   88,99  2021-08-10 00:00:00+00:00      US
287   TRMB  882295   89,18  2021-08-09 00:00:00+00:00      US
288   TRMB  882295   89,36  2021-08-06 00:00:00+00:00      US
289   TRMB  882295   89,42  2021-08-05 00:00:00+00:00      US
290   TRMB  882295   86,73  2021-08-04 00:00:00+00:00      US

[291 rows x 5 columns]

In [35]:
res = {'850103', '851247', 'A1C06B', '870747', '866993', '855167', '869898', '897879', '920657', 'A0MW0M', '865985', 'A1C08F', '893484', '843002', '918422', 'EVNK01', 'A0YEES', '888351', 'SYM999', '850628', 'A2P1UZ', '716460', 'A1H5JY', '840400', '851995', 'A0NJ38', '710000', '547040', 'A1XA8R', 'A0Q4DC', '856958', '865682', '893579', '871981', '723610', 'A0NC7B', '860180', 'A0NBLH', '863195', 'A2JLJU', '866197', 'A14R7U', '555200', 'A14Y6F', '853292', '852062', '890447', 'A1J4U4', 'A1EWWW', '157484', '867475', 'A2DSYC', '882295', '578580', 'A14M2J', '878841', '623100'}
init = {'850103', 'nan', 'BASF11', '851247', 'A1C06B', '870747', '855167', '866993', '869898', '897879', '920657', 'EWG2LD', 'A0MW0M', '865985', 'A1C08F', 'A1J782', '893484', 'A0Q41X', '843002', '918422', 'EVNK01', 'A0YEES', 'A118V8', 'SYM999', '888351', '850628', '716460', 'A2P1UZ', 'A1W0GT', 'A1H5JY', '840400', '851995', '547040', 'A1XA8R', '710000', 'A0NJ38', '522994', 'A0Q4DC', 'A0RGER', 'LYX0X6', '865682', '856958', '893579', '871981', '723610', 'A0NC7B', '860180', 'A0NBLH', '863195', 'A2JLJU', '866197', 'LYX014', 'A14R7U', 'ETFL35', 'A14Y6F', '555200', 'A2ARAV', 'kjasnppjn', 'A0J2R1', '853292', '852062', '890447', 'A1J4U4', 'A2DACG', 'A1EWWW', '157484', '867475', 'A2DSYC', 'A2JA2C', '882295', '578580', 'A14M2J', 'A14WU5', '878841', '623100'}

lst = []

for x in init:
    if x not in res:
        lst.append(x)

In [36]:
lst

['522994',
 'A1J782',
 'A1W0GT',
 'nan',
 'A2DACG',
 'A0J2R1',
 'ETFL35',
 'LYX0X6',
 'A118V8',
 'kjasnppjn',
 'BASF11',
 'A0RGER',
 'A2ARAV',
 'A0Q41X',
 'A14WU5',
 'EWG2LD',
 'A2JA2C',
 'LYX014']